:root {
  // Colors
  --gradient-bg: linear-gradient(
    135deg,
    rgba(191, 155, 249, 0.11) 0%,
    rgba(138, 149, 248, 0.2) 100%
  );
  --gradient-bg-dark: linear-gradient(135deg, rgba(62, 61, 77, 1) 0%, rgba(64, 61, 78, 1) 100%);
  --red-5: #c2255c;
  --red-4: #e64980;
  --red-3: #f783ac;
  --red-2: #fcc2d7;
  --red-1: #fff0f6;
  --green-5: #099268;
  --green-4: #12b886;
  --green-3: #38d9a9;
  --green-2: #96f2d7;
  --green-1: #e6fcf5;
  --yellow-5: #f08c00;
  --yellow-4: #fab005;
  --yellow-3: #ffd43b;
  --yellow-2: #ffec99;
  --yellow-1: #fff9db;
  --blue-5: #1971c2;
  --blue-4: #228be6;
  --blue-3: #4dabf7;
  --blue-2: #a5d8ff;
  --blue-1: #e7f5ff;
  --purple-5: #6741d9;
  --purple-4: #7950f2;
  --purple-3: #9775fa;
  --purple-2: #d0bfff;
  --purple-1: #f3f0ff;
  --light-grayish-blue: #f5f5f8;
  --very-pale-blue: #fdfdff;
  --very-dark-blue: #26252f;
  --very-dark-grayish-blue: #403e4e;

  // Radius
  --small-radius: 4px;
  --basic-radius: 10px;

  // anim
  --cubic-anim: 300ms cubic-bezier(0.23, 1, 0.32, 1);
  --cubic-anim-slow: 700ms cubic-bezier(0.23, 1, 0.32, 1);

  // Padding
  --padding-xs: calc(0.8rem + 1.4vmin);
  --padding-s: calc(1.6rem + 1.4vmin);
  --padding-m: calc(2.4rem + 1.4vmin);
  --padding-l: calc(3.2rem + 1.4vmin);
  --padding-xl: calc(4.8rem + 1.4vmin);
  --padding-xxl: calc(6.4rem + 1.4vmin);

  // Shadows
  --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  --brick-shadow: 0 0 0 1px rgba(50, 50, 93, 0.1), 0 2px 5px 0 rgba(50, 50, 93, 0.05),
    0 1px 1px 0 rgba(0, 0, 0, 0.05);
  --3d-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  // Container
  --container-width: 144rem;
  --container-padding: calc(var(--padding-s) + 2vmin);

  // Fonts
  --font-outfit: "Outfit", sans-serif;

  --font-size-baby: calc(0.6rem + 0.6vmin);
  --font-size-tiny: calc(0.8rem + 0.6vmin);
  --font-size-small: calc(1rem + 0.6vmin);
  --font-size-medium: calc(1.2rem + 0.6vmin);
  --font-size-large: calc(1.4rem + 0.6vmin);
  --font-size-x-large: calc(1.6rem + 0.6vmin);
  --font-size-xx-large: calc(1.8rem + 0.6vmin);
  --font-size-big: calc(2rem + 0.6vmin);
  --font-size-huge: calc(2.2rem + 0.6vmin);

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}
